.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  .content-container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .left-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .left-content {
        display: flex;
        margin: 5px;
        color: #002b72;

        .left-content-message-description {
          display: flex;
          flex-direction: column;

          .left-message {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 2px;
            word-spacing: 2px;
          }

          .left-description {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 2px;
            word-spacing: 2px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    align-items: center;

    .content-container {
      width: 100%;

      .left-message {
        font-size: 25px !important;
      }
    }
  }
}
