<div class="home-container">
  <div class="content-container">

    <div class="left-content-container">
      <div class="left-content">
        <div class="left-content-message-description">
          <span class="left-message">
            {{this.translate.instant('marceloluizjungfront.homemessage')}}
          </span>
          <span class="left-description">
            {{this.translate.instant('marceloluizjungfront.homedescription')}}
          </span>
        </div>
      </div>
      <div class="left-content">
        <button pButton pRipple type="button" [label]="this.translate.instant('marceloluizjungfront.start')"
          class="p-button-sm p-button-outlined p-button-rounded" (click)="start()"></button>
      </div>
    </div>

  </div>
  <div class="content-container">
    <img src="assets/images/web-development/web-development.png" width="95%" height="95%" />
  </div>
</div>
