.home-container {
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  min-height: 100vh;

  .left-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002b72;
    padding: 10px;

    .message {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 2px;
      word-spacing: 2px;
    }

    .description {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
      word-spacing: 2px;
    }
  }

  .right-content-container {
    display: flex;
    align-items: center;

    img {
      width: 400px;
      height: 400px;
    }
  }

  @media screen and (max-width: 744px) {
    flex-direction: column;
    align-items: center;

    img {
      width: 300px !important;
      height: 300px !important;
    }
  }
}
