<div class="home-container">
  <div class="left-content-container">
    <span class="message">{{this.translate.instant('marceloluizjungfront.homemessage')}}</span>
    <span class="description">{{this.translate.instant('marceloluizjungfront.homedescription')}}</span>
    <div style="padding: 10px;">
      <button pButton pRipple type="button" [label]="this.translate.instant('marceloluizjungfront.start')"
        class="p-button-sm p-button-outlined p-button-rounded" (click)="start()"></button>
    </div>
  </div>
  <div class="right-content-container">
    <img src="assets/images/web-development/web-development.png"/>
  </div>
</div>
