.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  .content-container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .left-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .left-content {
        display: flex;
        margin: 5px;

        .left-message {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 50px;
          font-weight: 700;
          letter-spacing: 2px;
          word-spacing: 2px;
          color: #3B82F6;;
        }
      }
    }
  }
}
