.aboutus-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #002b72;
  padding: 15px;

  .aboutus-header-container {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  .aboutus-body-container {
    display: flex;
    margin: 20px;
  }

  .aboutus-footer-container {
    display: flex;
    justify-content: center;

    .aboutus-footer-item {
      display: flex;
      padding: 10px;
      justify-content: center;
      flex-direction: column;
      background: #c3cdff;
      border-radius: 25%;

      .header {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 120px;
          height: 120px;
        }
      }

      .body {
        display: flex;
        align-items: center;
        flex-direction: column;

        .name {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 2px;
          word-spacing: 2px;
          padding-top: 20px;
        }

        .description {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            padding-top: 20px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
