<div class="aboutus-container">
  <div class="aboutus-header-container">
    <span>{{ 'marceloluizjungfront.aboutus' | translate }}</span>
  </div>
  <div class="aboutus-body-container">
    <span>
      {{ 'marceloluizjungfront.aboutusdescription' | translate }}
    </span>
  </div>
  <div class="aboutus-footer-container">
    <div class="aboutus-footer-item">
      <div class="header">
        <img src="../../../assets/images/developers/marceloluizjung.png">
      </div>
      <div class="body">
        <span class="name">{{ 'marceloluizjungfront.developername' | translate }}</span>
        <span class="description">
          <span>{{ 'marceloluizjungfront.computerscientist' | translate }}</span>
          <span>{{ 'marceloluizjungfront.fullstackdeveloper' | translate }}</span>
          <span>{{ 'marceloluizjungfront.developercity' | translate }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
