<p-sidebar id="sidebar-1" [(visible)]="visibleSidebar" [baseZIndex]="10000" [style]="{background: '#e0e4ce'}">
  <ng-template pTemplate="header">
    <div>
      <span class="sidebar-header">Marcelo Luiz Jung</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div *ngFor="let sidebarItem of sidebarItems" class="sidebar-links">
      <div *ngIf="sidebarItem.children">
        <div>
          <span (click)="sidebarItem.showChildren ? sidebarItem.showChildren = false : sidebarItem.showChildren = true">
            <i [class]="sidebarItem.icon"></i>
            {{sidebarItem.name}}
            <i *ngIf="!sidebarItem.showChildren" class="pi pi-angle-right"></i>
            <i *ngIf="sidebarItem.showChildren" class="pi pi-angle-down"></i>
          </span>
        </div>
        <div *ngIf="sidebarItem.showChildren">
          <span *ngFor="let children of sidebarItem.children" class="sidebar-sub-links"
            (click)="sidebarNavigate(children.route)" [ngClass]="{active: activeLink == children.route}">
            <i class="pi pi-angle-right"></i>
            {{children.name}}
          </span>
        </div>
      </div>
      <span *ngIf="!sidebarItem.children" (click)="sidebarNavigate(sidebarItem.route)"
        [ngClass]="{active: activeLink == sidebarItem.route}">
        <i [class]="sidebarItem.icon"></i>
        {{sidebarItem.name}}
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div>
      <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">{{sidebarMessage}}</span>
    </div>
    <div>
      <span (click)="changeTheme(false)" *ngIf="isBlackTheme">
        <img src="assets/images/day/sunny.png" height="20" width="20" style="margin-right: 5px;" />
      </span>
      <span (click)="changeTheme(true)" *ngIf="!isBlackTheme">
        <img src="assets/images/day/moon.png" height="20" width="20" style="margin-right: 5px;" />
      </span>
    </div>
    <div>
      <span *ngFor="let sidebarLanguage of sidebarLanguages">
        <img [src]="sidebarLanguage.flag" height="20" width="20" style="margin-right: 5px;"
          *ngIf="sidebarLanguage.language != storageLanguage" (click)="changeLanguage(sidebarLanguage.language)" />
      </span>
    </div>
  </ng-template>
</p-sidebar>
<button pButton pRipple type="button" icon="pi pi-bars" *ngIf="activeLink != '/home'"
  class="p-button-rounded p-button-outlined visible-sidebar-controller" (click)="visibleSidebar = true"></button>
