.sidebar-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #2d3839;
}

.sidebar-links {
  color: #2d3839;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding-bottom: 20px;
  padding-top: 20px;

  .active {
    color: #2563eb !important;
  }

  :hover {
    cursor: pointer;
  }

  .sidebar-sub-links {
    font-size: 11px;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  .hover-link {
    :hover {
      color: #006c80 !important;
    }
  }

  .hover-link-color {
    color: #006c80 !important;
  }
}

.visible-sidebar-controller {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 10px;
  background: #ffffff00;
  z-index: 9000;
}

.visible-sidebar-whatsapp {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 10px;
  background: #ffffff00;
  z-index: 9000;
}
