.visible-sidebar-controller {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 10px;
}

.sidebar-links {
  color: #2d3839;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 4;
}

.sidebar-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #2d3839;
}
