.sidebar-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #2d3839;
}

.sidebar-links {
  color: #2d3839;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 4;

  .active {
    color: #2563eb !important;
  }

  :hover {
    cursor: pointer;
  }

  .sidebar-sub-links {
    font-size: 11px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }
}

.visible-sidebar-controller {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 10px;
  background: #0400ff4a;
  z-index: 9000;
}
