.unicode-text-converter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #002b72;
  padding: 15px;
  padding-left: 65px;
  padding-right: 65px;

  .unicode-text-converter-header-container {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  .unicode-text-converter-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .unicode-text-converter-form-container {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    width: 100%;

    >* {
      margin: 10px;
      margin-left: 0px;
      margin-bottom: 0px;
    }
  }

  .unicode-text-converter-output-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .unicode-text-converter-input-container,
  .unicode-text-converter-output-container {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  textarea {
    height: 25vh !important;
  }
}
