.unicode-text-converter-form-container {
  @media screen and (max-width: 473px) {

    justify-content: center !important;

    p-autocomplete {
      width: 100% !important;

      .p-component {
        width: 100% !important;

      }
    }

    >* {
      margin-right: 0px !important;
    }
  }

  .unicode-text-converter-output-container {
    padding-top: 0px !important;
  }


}

sidebar {

  p-sidebar#sidebar-1 {

    .p-sidebar-header,
    .p-sidebar-content {
      border-bottom: 2px solid rgba(45, 56, 57, 0.34) !important;
    }

    .p-sidebar-content {
      height: 100vw !important;
    }
  }
}

.home-container {
  .left-content {
    .p-button {
      color: #002b72 !important;
    }
  }
}

.p-sidebar {
  background: #c3cdff;
}

body {
  margin: 0px !important;
  background: #dddbff;
}

@import "./assets/themes/themes.scss";
