sidebar {

  p-sidebar#sidebar-1 {

    .p-sidebar-header,
    .p-sidebar-content {
      border-bottom: 2px solid rgba(45, 56, 57, 0.34) !important;
    }

    .p-sidebar-content {
      height: 100vw !important;
    }
  }
}

.p-sidebar {
  background: #d1d1d1 !important;
}

body {
  margin: 0px !important;
  background: #dddbff;
}

@import "./assets/themes/themes.scss";
