.jsonpath-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #002b72;
  align-items: center;
  height: 100%;

  .header-container {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 15px;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;

    form {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    .path-container {
      align-self: flex-start;
      display: flex;
      width: 100%;

      .input {
        padding: 5px;
        padding-left: 0px;
        width: 100%;

        input {
          width: 100%;
        }
      }

      .button {
        padding: 5px;
        padding-right: 0px;
        display: flex;
      }
    }

    .expressions-container {
      padding: 5px;
    }

    .json-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 15px;

      textarea {
        width: 100%;
        height: 100% !important;
        overflow: auto !important;
      }

      .input {
        width: 50%;
        padding-right: 5px;
      }

      .output {
        width: 50%;
        padding-left: 5px;
      }
    }
  }

  @media screen and (max-width: 530px) {
    .path-container {
      flex-direction: column;
    }

    .json-container {
      flex-direction: column;

      .input {
        width: 100% !important;
        height: 50% !important;
        padding-bottom: 15px;
        padding-right: 0px !important;
      }

      .output {
        width: 100% !important;
        height: 50% !important;
        padding-left: 0px !important;
      }
    }
  }
}
